@layout('layouts/admin')

@section('body')
    <div class="row">
        <div class="col">
        One of two columns
    </div>
    <div class="col">
    One of two columns
    </div>
    </div>
@end