<!DOCTYPE html>
<html lang="es">
  @include('main/partials/header')
  <body>
    @include('auth/partials/navbar')
    <div class="container-xxl p-0">
        @!section('body')
    </div>
  </body>
</html>