<!DOCTYPE html>
<html lang="es">
  @include('main/partials/header')
  <body>
    <div class="container-xxl bg-white p-0">
      @include('main/partials/navbar')
        @!section('body')
      @include('main/partials/footer')
    </div>
  </body>
</html>