@layout('layouts/main')

@section('body')
    @include('main/partials/services')
    @include('main/partials/where_we_are')
    @include('main/partials/booking')
    @include('main/partials/payment')
    @include('main/partials/about_reason')
@end